@{
    ViewData["Title"] = "Home Page";
}

<section id="gallery">
    <div class="container">
        <div class="row">
            <h1>O que é CRUD?</h1>
            </br>
            </br>


            <p>Você sabe o que é CRUD? Se você opera sistemas com tabelas, dados, gráficos e afins precisa dominar esse conceito e aplicá-lo no seu dia a dia como profissional de tecnologia. </p>
            <p>Então, vamos às explicações? Primeiramente, CRUD é o acrônimo para Create (criar), Read (ler), Update (atualizar) e Delete (apagar). Com essa explicação, já dá para intuir que o CRUD é uma sequência de funções de um sistema que trabalha com banco de dados, seja ele na sua máquina ou na nuvem.</p>
            </br>
            </br>
            </br>
            </br>

            <h1>CRUD é usado na linguagem SQL</h1>
            </br>
            </br>

            <p>Agora que você sabe resumidamente o que é CRUD, veja que ele é um conjunto de operações que pertence ao agrupamento chamado de Data Manipulation Language (DML) ou, em português, Linguagem de Manipulação de Dados. </p>

            <p>Trata-se de um grupo de comandos de linguagem SQL que é usado para recuperar, incluir, remover e modificar informações dentro de um banco de dados.  </p>

            <p>Aliás, todos esses conceitos são aplicados quando se está usando a linguagem de programação SQL (Structured Query Language) ou Linguagem de Consulta Estruturada. Basicamente, ela é uma linguagem de programação criada para operar banco de dados relacional, ou seja, baseado em tabelas.</p>
            </br>
            </br>
            </br>
            </br>

            <h1>Conheça cada função</h1>
            </br>
            </br>

            <p>Ao trabalhar com banco de dados, é importante aplicar o CRUD para ter mais agilidade no desenvolvimento. Por isso, conheça o que representa cada etapa. </p>
            </br>
            </br>


        </div>
        <div class="row">
            <div class="col-lg-3 mb-3 d-flex align-items-stretch mx-auto">
                <div class="card">
                    <img src="https://w7.pngwing.com/pngs/394/108/png-transparent-letter-case-united-states-organization-logo-united-states-logo-united-states-number-thumbnail.png" alt="" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Create</h5>
                        <p class="card-text">Trata-se do conceito de criação, registro ou cadastro de informações e dados em um determinado lugar. Sendo assim, pode se referir à criação de dados de uma tabela, ao registro do usuário numa plataforma ou até mesmo ao desenvolvimento de um novo post dentro de um blog. </p>
                        <a href="" class="btn btn-outline-success btn-sm">Leia Mais</a>
                        <a href="" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mb-3 d-flex align-items-stretch mx-auto">
                <div class="card">
                    <img src="https://w7.pngwing.com/pngs/322/685/png-transparent-letter-case-red-alphabet-alphabet-r-blue-angle-text-thumbnail.png" alt="" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Read</h5>
                        <p class="card-text">É o ato de consultar os dados em um website. Quando você clica no botão de ver vagas numa plataforma, por exemplo, você está solicitando dados que serão lidos pela plataforma e, na sequência, exibidos na tela. </p>
                        <a href="" class="btn btn-outline-success btn-sm">Leia Mais</a>
                        <a href="" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mb-3 d-flex align-items-stretch mx-auto">
                <div class="card">
                    <img src="https://w7.pngwing.com/pngs/292/16/png-transparent-sort-arial-typeface-verdana-times-new-roman-u-rectangle-car-sticker-thumbnail.png" alt="" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Update</h5>
                        <p class="card-text">O conceito de update é aplicado quando você, que é dono dos dados ou tem permissão para editá-los, atualiza as informações que julgar necessárias. O diferencial com relação aos outros processos é a limitação de uso, que é voltada para quem criou os dados na tabela ou aplicação, bem como por quem tem a permissão do sistema para atualizá-los. Assim, quando você atualiza o seu perfil numa plataforma, está aplicando o conceito de update. </p>
                        <a href="" class="btn btn-outline-success btn-sm">Leia Mais</a>
                        <a href="" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mb-3 d-flex align-items-stretch mx-auto">
                <div class="card">
                    <img src="https://w7.pngwing.com/pngs/466/613/png-transparent-brand-black-and-white-pattern-letter-d-text-rectangle-black.png" alt="" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Delete</h5>
                        <p class="card-text">Trata-se de uma ação de remoção de dados a partir do operador do sistema. Portanto, assim como o Update, tem algumas limitações. Ao pedir a exclusão do seu nome da lista de e-mail marketing de uma empresa, por exemplo, você precisa da intermediação do operador que vai permitir a deleção de dados, ou seja, não pode fazer isso diretamente. </p>
                        <a href="" class="btn btn-outline-success btn-sm">Leia Mais</a>
                        <a href="" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a>
                    </div>
                </div>
            </div>

        </div>

        <h1>Vantagens e desvantagens</h1>
        </br>
        </br>

        <p>Entre as vantagens de usar o conceito de CRUD estão a possibilidade da sua utilização tanto para modelo relacional (SQL) quanto não-relacional (NoSQL). Além disso, você como desenvolvedor torna mais ágil o desenvolvimento do código e das regras do negócio na API RESTfull. </p>
        <p>No entanto, entre as desvantagens estão a necessidade de atenção total no momento de executar os comandos Update e Delete no banco de dados, para evitar perdas.</p>
        </br>
        </br>
   

        <h1>Conclusão </h1>
            </br>
            </br>


        <p>Em resumo, CRUD é uma ação importante em vários cenários, sobretudo no uso de SQL e outras tecnologias da Ciência de Dados. É preciso ficar atento a cada função e aplicá-la da melhor maneira a fim de otimizar o tempo e garantir segurança e desempenho. </p>
        <p>Aproveite para ler os conteúdos do Dicionário Tech da Coodesh. Somos uma startup de HR Tech que prepara o developer para se destacar no mercado. </p>
            </br>
            </br>
            </br>
            </br>
    </div>
</section>